* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}

canvas {
    display: block;
    margin: auto;
    background-color: #111;
}
